/license.txt
/wp-cron.php
/wp-blog-header.php
/wp-config-sample.php
/wp-signup.php
/wp-admin/
/wp-mail.php
/wp-includes/
/wp-login.php
/readme.html
/.htaccess
/wp-load.php
/wp-links-opml.php
/xmlrpc.php
/index.php
/wp-comments-post.php
/wp-config.php
/licencia.txt
/nbproject/
/wp-activate.php
/wp-settings.php
/wp-trackback.php
/wp-content/index.php
/wp-content/themes/
/wp-content/logs/
/wp-content/upgrade/
/wp-content/languages/
/wp-content/uploads/
/wp-content/plugins/currency-switcher-woocommerce/
/wp-content/plugins/woocommerce/
/wp-content/plugins/qtranslate-x/
/wp-content/plugins/js-composer-qtranslate-x/
/wp-content/plugins/zoo-framework/
/wp-content/plugins/clever-layer-navigation/
/wp-content/plugins/jetpack/
/wp-content/plugins/meta-box/
/wp-content/plugins/contact-form-7/
/wp-content/plugins/woocommerce-qtranslate-x/
/wp-content/plugins/yith-woocommerce-wishlist/
/wp-content/plugins/clever-vc-addon/
/wp-content/plugins/revslider/
/wp-content/plugins/ajax-search-lite/
/wp-content/plugins/index.php
/wp-content/plugins/clever-swatches/
/wp-content/plugins/js_composer/
/wp-content/plugins/clever-mega-menu/
/wp-content/plugins/newsletter/
/wp-content/plugins/wp-user-avatar/